@media (min-width: 768px) {
    .searchLabel {
        float:right;
        padding-right:5px;
        position:relative;
        top: 5px;
      }

    .searchInput {
        padding-left: 13px;
    }

}

 @media (max-width: 768px) {
    .searchLabel {
        float:left;
        padding-bottom:10px;
        position:relative;
        top: 0px;
        padding-left:24px;

      }

      .searchInput {
          padding-left: 24px;
          padding-right: 24px;
      }
} 

.searchRow {
    margin: 24px;
    border: 1px solid #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
